Repository lizongze/chatAI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts, stylelint --syntax scss

new yarn.lock
  yarn.lock
Due: none

chore: only use tsconfig paths
  webpack.serve.config.js
Due: none

chore: remove startjs
  .lintstagedrc
  package.json
  webpack.serve.config.js
Due: none

chore: yarn.lock
  yarn.lock
Due: none

feat: support webpack production
  package.json
  scripts/webpack-resources.js
  webpack.config.js
  webpack.serve.config.js
Due: none

feat: support npm run post-fmt
  .husky/post-commit
  .lintstagedrc
  package.json
  src/postCommitTest.js
  yarn.lock
Due: prettier --write

chore: prettier
  src/postCommitTest.js
Due: prettier --write

chore: del no use file
  src/postCommitTest.js
Due: prettier --write

chore: .
  package.json
Due: none

chore: del unused file
  .husky/post-commit
Due: none

docs: readme
  README.md
  package.json
Due: none

docs: readme
  README.md
Due: none

feat: change react-hot-loader into react-refresh
  .babelrc
  package.json
  scripts/webpack-resources.js
  tsconfig.json
  webpack.serve.config.js
Due: none

chore: udpate yarn.lock
  yarn.lock
Due: none

refactor: change class into function
  src/main/app/App.tsx
  src/main/app/AppRouter.tsx
  src/main/app/index.tsx
  src/main/index.tsx
Due: prettier --write, eslint --ext .ts

chore: prettier
  src/main/app/App.tsx
  src/main/app/AppRouter.tsx
Due: prettier --write, eslint --ext .ts

chore: .
  scripts/webpack-resources.js
  webpack.serve.config.js
Due: none

feat: enable webpack fileSystem cache
  package.json
  webpack.serve.config.js
  yarn.lock
Due: none

feat: support css-module and mobx decorators with accessor
  README.md
  package.json
  scripts/webpack-resources.js
  tsconfig.json
  webpack.config.js
  webpack.serve.config.js
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

feat: chat list demo
  .lintstagedrc
  package.json
  src/api/index.ts
  src/assets/index.html
  src/axios/openai/axiosWithMemoAi.ts
  src/axios/openai/index.ts
  src/axios/openai/instanceForChatAiWithMemo.ts
  src/axios/openai/interceptorForMemorize.ts
  src/axios/openai/request.d.ts
  src/axios/openai/response.d.ts
  src/constants/index.ts
  src/main/pages/home/ChatList.tsx
  src/main/pages/home/ChatListItem.scss
  src/main/pages/home/ChatListItem.tsx
  src/main/pages/home/Home.tsx
  src/main/pages/home/homeStore.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts, stylelint --syntax scss

chore: udpate yarn.loc
  yarn.lock
Due: none

chore: readme
  README.md
Due: none

feat: support reactive chat
  src/main/pages/home/ChatList.scss
  src/main/pages/home/ChatList.tsx
  src/main/pages/home/Home.scss
  src/main/pages/home/Home.tsx
  src/main/pages/home/TextBtn.scss
  src/main/pages/home/TextBtn.tsx
  src/main/pages/home/homeStore.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts, stylelint --syntax scss

feat: support conversionsHistory
  src/axios/openai/index.ts
  src/axios/openai/interceptorForMemorize.ts
Due: prettier --write, eslint --ext .ts

chore: prettier
  src/axios/openai/interceptorForMemorize.ts
Due: prettier --write, eslint --ext .ts

fix: style bug
  src/assets/index.html
  src/main/pages/home/TextBtn.scss
Due: stylelint --fix, stylelint --syntax scss

fix: style
  src/main/pages/home/TextBtn.scss
Due: stylelint --fix, stylelint --syntax scss

feat: support input open router api key
  .lintstagedrc
  .prettierrc
  src/assets/index.html
  src/axios/openai/axiosWithMemoAi.ts
  src/axios/openai/index.ts
  src/axios/openai/instanceForChatAiWithMemo.ts
  src/axios/openai/interceptorForMemorize.ts
  src/constants/index.ts
  src/main/pages/home/ChatList.scss
  src/main/pages/home/Home.tsx
  src/main/pages/home/ModalInput.scss
  src/main/pages/home/ModalInput.tsx
  src/main/pages/home/TextBtn.tsx
  src/main/pages/home/homeStore.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts, stylelint --syntax scss

chore: prettier
  src/axios/openai/axiosWithMemoAi.ts
  src/axios/openai/interceptorForMemorize.ts
  src/constants/index.ts
  src/main/pages/home/Home.tsx
  src/main/pages/home/ModalInput.tsx
  src/main/pages/home/homeStore.ts
Due: prettier --write, eslint --ext .ts

Path conditions:
  prettier --write: any of: ./src/**/*.{js,jsx,ts,tsx,json}
  stylelint --fix: any of: ./src/**/*.{css,sass,scss,less}
  eslint --ext .ts: any of: **/*.{ts,tsx}
  stylelint --syntax scss: any of: **/*.scss
